VITE_ORCHESTRATOR_URL=http://127.0.0.1:5000
VITE_TAMIL_URL=http://127.0.0.1:1000
VITE_SINHALA_URL=http://127.0.0.1:2000
VITE_SIMILARITY_URL=http://127.0.0.1:3000
VITE_CREDIBILITY_URL=http://127.0.0.1:4000
